@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --btn-color-disabled: #ebebe4;
  --btn-primary-color-active: #5699d2;
  --btn-primary-color-hover: #4889c1;
  --btn-warning-color-active: #f0ad4e;
  --btn-warning-color-hover: #ec971f;
  --btn-neutral-color-active: #5bc0de;
  --btn-neutral-color-hover: #31b0d5;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

h3 {
  text-align: center;
}
